
/* Exstra Small */
@media (min-width: 0px) and ( max-width : 575px ) { 
        
    .title2 h2 {
        font-size: 3.25rem ;
        font-weight: 600 ;
        color: rgba(148, 137, 137, 0.3);
        }
        .title2 h3{
            font-weight: 600 ;
            font-size: 1.25rem ;
        }
        .brdrri {
            border: none !important;
        }
        .phpost > div {
            position: static !important;
        }
        .fixhight{
            height: auto !important;
        }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)  and ( max-width : 767px ) { 
        
    .title2 h2 {
        font-size: 4.25rem ;
        font-weight: 600 ;
        color: rgba(148, 137, 137, 0.3);
        }
        .title2 h3{
            font-weight: 600 ;
            font-size: 1.25rem ;
        }
        .brdrri1{
            border: none !important;
        }
        .phpost > div {
            position: static !important;
        }
        .fixhight{
            height: auto !important;
        }

 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and ( max-width : 991px ) { 
        
    .title2 h2 {
        font-size: 4.25rem ;
        font-weight: 600 ;
        color: rgba(148, 137, 137, 0.3);
        }
        .title2 h3{
            font-weight: 600 ;
            font-size: 1.25rem ;
        }
        
        .phpost :nth-child( 1 ) {
            top: 0;
            left: 0;
            
            }
            .phpost :nth-child( 2 ) {
                top: 0%;
                left: 50%;
                
            
            }
            .phpost :nth-child( 3) {
                top: 243.850px ;
                left: 0;

            
            
            }
            .phpost :nth-child( 4) {
                top: 477.7px ;
                left: 50%;
            
            
            }
            .phpost :nth-child( 5) {
                top: 1000px ;
                left: 0%;
            
            
            }
            .phpost :nth-child( 6) {
                top: 580px ;
            
                left: 50%;
            
            
            }
            .phpost :nth-child( 7) {
            left: 50%;
            top: 820px ;
            
            }
            .fixhight{
            
                height: 1400px !important;
            }

 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and ( max-width : 1199px ) { 
    .phpost :nth-child( 1 ) {
        top: 0;
        left: 0;
        
        }
        .phpost :nth-child( 2 ) {
            left: 33.33%;
            top: 0%;
        
        }
        .phpost :nth-child( 3) {
            left: 66.66%;
            top: 0%;
        
        
        }
        .phpost :nth-child( 4) {
            top: 220.17px ;
            left: 0;
        
        
        }
        .phpost :nth-child( 5) {
            top: 515.17px ;
            left: 33.33%;
        
        
        }
        .phpost :nth-child( 6) {
            top: 220.17px ;
        
            left: 66.66%;
        
        
        }
        .phpost :nth-child( 7) {
        left: 66.66%;
        top: 440.3px ;
        
        }
        .fixhight{
        
            height: 860px !important;
        }
    

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and ( max-width : 1399px ) { 
    .phpost :nth-child( 1 ) {
        top: 0;
        left: 0;
        
        }
        .phpost :nth-child( 2 ) {
            left: 33.33%;
            top: 0%;
        
        }
        .phpost :nth-child( 3) {
            left: 66.66%;
            top: 0%;
        
        
        }
        .phpost :nth-child( 4) {
            top: 257.17px ;
            left: 0;
        
        
        }
        .phpost :nth-child( 5) {
            top: 615.17px ;
            left: 33.33%;
        
        
        }
        .phpost :nth-child( 6) {
            top: 257.17px ;
        
            left: 66.66%;
        
        
        }
        .phpost :nth-child( 7) {
        left: 66.66%;
        top: 520.3px ;
        
        }
        .fixhight{
        
            height: 1000px !important;
        }

 }

